<div class="button-row">
  <a mat-fab color="accent" routerLink="/addeventitem/{{busevent.id}}">
    <mat-icon aria-label="后续跟进">add</mat-icon>
  </a>
</div>
<ngx-chronology [events]="busevent.eventItems" [title]="busevent.name">
  <ng-template let-event ngxChronologyTitle>
    <h3>{{ event.title }} - {{event.createTime|date:'yyyy-MM-dd'}}</h3>
  </ng-template>
  <ng-template let-event ngxChronologyContent>
    <div>
      <p>内容描述： {{ event.content }}</p>
      <p>填报人： {{ event.writer }}</p>
      <p>涉及金额：￥{{ event.money }}</p>
      <img *ngIf="event.img" [src]="event.img" style="width: 100%" />
      <hr/> 审核：
      <span *ngIf="event.state==1">已通过 (审核人：{{event.approval}}) - {{event.approvalTime|date:'yyyy-MM-dd'}}</span>
      <span *ngIf="event.state==2">不通过 (审核人：{{event.approval}}) - {{event.approvalTime|date:'yyyy-MM-dd'}}</span>
      <div class="button-row" *ngIf="event.state==0">
        <button mat-raised-button color="primary" (click)="pass(event)">通过</button>
        <button mat-raised-button color="warn" (click)="unpass(event)">不通过</button>
      </div>
    </div>
  </ng-template>
</ngx-chronology>
<div class="button-row">
  <a mat-fab color="accent" routerLink="/addeventitem/{{busevent.id}}">
    <mat-icon aria-label="后续跟进">add</mat-icon>
  </a>
</div>